# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# 子包 ts 构建的临时文件
*.tsbuildinfo

# 框架临时文件
.next

# 环境变量文件 - 包含敏感信息，不应提交到版本控制
.env*
!.env.template

packages/server/apps.json
.dify-chat
