.dc-answer-form-button {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	margin-bottom: 12px;

	label {
		margin-top: 12px;
		margin-bottom: 2px;
	}

	input,
	button,
	textarea {
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 8px;
		padding: 8px;
		width: 100% !important;
		resize: none;
		box-sizing: border-box;
	}

	.dc-answer-form-button {
		background: #4c84ff;
		border: none;
		height: 32px;
		line-height: 32px;
		text-align: center;
		color: white;
		border-radius: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 12px;
	}
}
